#header {
    height: 300px;
    background-color: #fc0;
}

#main {
    float: left;
    width: 50%;
    height: 200px;
    background-color: #cf0;
}

#sub {
    float: right;
    width: 50%;
    height: 100px;
    background-color: #0fc;
}

#footer {
    clear: both;
    height: 300px;
    background-color: #fc9;
}