#header{
    height: 300px;
    background-color: #00f;
}

#main{
    height: 200px;
    background-color: #cf0;
}

#sub{
    height: 100px;
    background-color: #0fc;
}

#footer {
	height: 300px;
    background-color: #fc9;
}